/* CONTAINER */
.MY\:container {
    width: 100%;
    padding-right: $MY-container-horizontal-padding;
    padding-left: $MY-container-horizontal-padding;
    margin-right: auto;
    margin-left: auto;

    // Generating media queries
    @each $breakpoint, $value in $MY-container-max-widths {
        @media (min-width: $value) {
            max-width: $value;
        }
    }
}
/************************/


