@import "variables";

@mixin MY-background-gardient() {
    background: $MY-space-cadet;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $MY-cadet-grey, $MY-space-cadet);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $MY-cadet-grey, $MY-space-cadet); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
