@import "variables";
@import "~rfs/scss";

/* STAATLICHES */
@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches/Staatliches-Regular.eot');
    src: local('../fonts/Staatliches/Staatliches Regular'), local('Staatliches-Regular'),
    url('../fonts/Staatliches/Staatliches-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Staatliches/Staatliches-Regular.woff2') format('woff2'),
    url('../fonts/Staatliches/Staatliches-Regular.woff') format('woff'),
    url('../fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
    // url('../fonts/Staatliches/Staatliches-Regular.svg#Staatliches-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/****************/

/* LATO */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
    url('../fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Black.woff') format('woff'),
    url('../fonts/Lato/Lato-Black.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato/Lato-Hairline.eot');
    src: local('Lato-Hairline'),
    url('../fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Hairline.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Hairline.woff') format('woff'),
    url('../fonts/Lato/Lato-Hairline.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Hairline.svg#Lato-Hairline') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'),
    url('../fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Italic.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Italic.woff') format('woff'),
    url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato/Lato-HairlineItalic.eot');
    src: local('Lato-HairlineItalic'),
    url('../fonts/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
    url('../fonts/Lato/Lato-HairlineItalic.woff') format('woff'),
    url('../fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
    // url('../fonts/Lato/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BlackItalic.eot');
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),
    url('../fonts/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
    url('../fonts/Lato/Lato-BlackItalic.woff') format('woff'),
    url('../fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    // url('../fonts/Lato/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.eot');
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
    url('../fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato/Lato-BoldItalic.woff') format('woff'),
    url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    // url('../fonts/Lato/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-LightItalic.eot');
    src: local('Lato-LightItalic'),
    url('../fonts/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
    url('../fonts/Lato/Lato-LightItalic.woff') format('woff'),
    url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    // url('../fonts/Lato/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.eot');
    src: local('Lato-Light'),
    url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Light.woff') format('woff'),
    url('../fonts/Lato/Lato-Light.ttf') format('truetype');
    // url('../fonts/Lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/*********************/

/* TEXT SIZES */
.MY\:text-xxl {
    @include font-size($MY-font-size-xxl);
}

.MY\:text-xl {
    @include font-size($MY-font-size-xl);
}

.MY\:text-lg {
    @include font-size($MY-font-size-lg);
}

.MY\:text-md {
    @include font-size($MY-font-size-md);
}

.MY\:text-sm {
    @include font-size($MY-font-size-sm);
}

.MY\:text-xs {
    @include font-size($MY-font-size-xs);
}

.MY\:text-xxs {
    @include font-size($MY-font-size-xxs);
}

/**************/

/* TEXT COLORS */
.MY\:text-dark {
    color: $MY-color-dark;
}

.MY\:text-light {
    color: $MY-color-light;
}

.MY\:text-primary {
    color: $MY-color-primary;
}

.MY\:text-primary-accent {
    color: $MY-color-primary-accent;
}

/***************/


/* TITLES */
.MY\:title-1 {
    @extend .MY\:text-xxl;
}

.MY\:title-2 {
    @extend .MY\:text-xl;
}

.MY\:title-3 {
    @extend .MY\:text-lg;
}

/**********/

/* HTML ELEMENTS DEFAULT FONTS */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', sans-serif;
}

/*******************************/

