@import "variables";
@import "~rfs/scss";

/* EVERSON MONO */
@font-face {
    font-family: 'Everson Mono Latin 6';
    src: url('../fonts/EversonMono/EversonMonoLatin.eot');
    src: local('../fonts/EversonMono/Everson Mono Latin 6'), local('EversonMonoLatin6'),
    url('../fonts/EversonMono/EversonMonoLatin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EversonMono/EversonMonoLatin.woff2') format('woff2'),
    url('../fonts/EversonMono/EversonMonoLatin.woff') format('woff'),
    url('../fonts/EversonMono/EversonMonoLatin.ttf') format('truetype'),
    url('../fonts/EversonMono/EversonMonoLatin.svg#EversonMonoLatin6') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/****************/

/* SOURCE SANS PRO */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-LightItalic.eot');
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
    url('../fonts/SourceSansPro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-LightItalic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-LightItalic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.eot');
    src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-SemiBold.eot');
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.eot');
    src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
    url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Light.eot');
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Bold.eot');
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.eot');
    src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular.eot');
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Italic.eot');
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
    url('../fonts/SourceSansPro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Italic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Italic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.eot');
    src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'),
    url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-Black.eot');
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot');
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2') format('woff2'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype'),
    url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/*********************/

/* TEXT SIZES */
.MY\:text-xxl {
    @include font-size($MY-font-size-xxl);
}

.MY\:text-xl {
    @include font-size($MY-font-size-xl);
}

.MY\:text-lg {
    @include font-size($MY-font-size-lg);
}

.MY\:text-md {
    @include font-size($MY-font-size-md);
}

.MY\:text-sm {
    @include font-size($MY-font-size-sm);
}

.MY\:text-xs {
    @include font-size($MY-font-size-xs);
}

.MY\:text-xxs {
    @include font-size($MY-font-size-xxs);
}

/**************/

/* TEXT COLORS */
.MY\:text-dark {
    color: $MY-color-dark;
}

.MY\:text-light {
    color: $MY-color-light;
}

.MY\:text-primary {
    color: $MY-color-primary;
}

.MY\:text-primary-accent {
    color: $MY-color-primary-accent;
}

/***************/


/* TITLES */
.MY\:title-1 {
    @extend .MY\:text-xxl;
}

.MY\:title-2 {
    @extend .MY\:text-xl;
}

.MY\:title-3 {
    @extend .MY\:text-lg;
}

/**********/

/* HTML ELEMENTS DEFAULT FONTS */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Everson Mono Latin 6', sans-serif;
}

/*******************************/

