@import "reset";
@import "typography";
@import "variables";
@import "mixins";
@import "components";

body {
    @include MY-background-gardient();
}

#MY\:application-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
